In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
from scipy.stats import linregress
import numpy as np

In [2]:
#File to load
file_to_load = "Car_sales_Data/car_data.csv"

# Read Purchasing File and store into Pandas data frame
car_data_df = pd.read_csv(file_to_load)
car_data_df

,Brand,Autogroup,Avg Price,Q1 2019,Q2 2019,Q3 2019,Q4 2019,Q1 2020,Q2 2020,Q3 2020,Q4 2020
0,Acura,Honda,40000,36385,37382,39046,44572,28531,27458,39664,25681
1,Alfa Romeo,Fiat Chrysler,50000,4286,4751,4310,4947,3702,3735,5056,0
2,Audi,Audi,59017,48115,53325,57031,65640,41371,34839,47896,0
3,Bentley,VW,211000,2385,2385,2385,0,2499,2499,2499,0
4,BMW,BMW,69000,73888,82551,75987,92399,62152,50956,68439,0
5,Bugatti,VW,2400000,54943,62470,57339,68724,47463,37625,49209,-10272
6,Buick,GM,33000,62254,71268,64535,77794,54067,42201,54708,-15409
7,Cadillac,GM,54000,69564,80065,71730,86865,60671,46777,60207,-20545
8,Chevrolet,GM,33000,76875,88862,78926,95936,67274,51353,65707,-25681
9,Chrysler,Fiat Chrysler,32000,84185,97659,86122,105007,73878,55929,71206,-30817
10,Dodge,Fiat Chrysler,29000,91496,106456,93317,114077,80482,60505,76705,-35953
11,Ferrari,Ferrari,300000,98806,115254,100513,123148,87086,65081,82205,-41090
12,Fiat,Fiat Chrysler,26000,106117,124051,107709,132219,93690,69657,87704,-46226
13,Ford,Ford,32000,113427,132848,114905,141289,100294,74233,93203,-51362
14,Genesis,Hyundai,49000,120738,141645,122100,150360,106898,78809,98702,-56498
15,GMC,GM,35000,128048,150442,129296,159431,113502,83385,104202,-61634
16,Honda,Honda,28000,135359,159240,136492,168501,120106,87961,109701,-66771
17,Hyundai,Hyundai,30000,142669,168037,143687,177572,126710,92537,115200,-71907
18,Infiniti,Nissan,45000,149980,176834,150883,186643,133313,97113,120700,-77043
19,Jaguar,TaTa,52000,157290,185631,158079,195714,139917,101689,126199,-82179
20,Jeep,Fiat Chrysler,30000,164601,194428,165274,204784,146521,106265,131698,-87315
21,Kia,Kia,30000,171911,203226,172470,213855,153125,110841,137198,-92452
22,Lamborghini,Audi,300000,179222,212023,179666,222926,159729,115417,142697,-97588
23,Land Rover,TaTa,59000,186532,220820,186862,231996,166333,119993,148196,-102724
24,Lexus,Toyota,56000,193843,229617,194057,241067,172937,124569,153695,-107860
25,Lincoln,Ford,52000,201153,238414,201253,250138,179541,129145,159195,-112996
26,Maserati,Fiat Chrysler,80000,208464,247212,208449,259208,186145,133721,164694,-118133
27,Mazda,Mazda,25000,215774,256009,215644,268279,192749,138297,170193,-123269
28,McLaren,McLaren,250000,223085,264806,222840,277350,199352,142873,175693,-128405
29,Mercedes-Benz,Daimler,58000,230395,273603,230036,286421,205956,147449,181192,-133541
30,Mini,BMW,28000,237706,282400,237231,295491,212560,152025,186691,-138677
31,Mitsubishi,Mitsubishi,22000,245016,291198,244427,304562,219164,156601,192191,-143814
32,Nissan,Nissan,30000,252327,299995,251623,313633,225768,161177,197690,-148950
33,Porsche,Porsche,73000,259637,308792,258819,322703,232372,165753,203189,-154086
34,Ram,Fiat Chrysler,34000,266948,317589,266014,331774,238976,170329,208688,-159222
35,Subaru,Subaru,31000,274258,326386,273210,340845,245580,174905,214188,-164358
36,Tesla,Tesla,60000,281569,335184,280406,349915,252184,179481,219687,-169495
37,Toyota,Toyota,34000,288879,343981,287601,358986,258788,184057,225186,-174631
38,Volkswagen,VW,30000,296190,352778,294797,368057,265391,188633,230686,-179767
39,Volvo,Volvo,50000,303500,361575,301993,377128,271995,193209,236185,-184903

In [3]:
#Remove column Q4 2019 & Q4 2020 as Quarter 4 data was not fully published at the time of the project.
drop_col=['Q4 2019', 'Q4 2020']
car_data_df = car_data_df.drop(drop_col, axis=1)
car_data_df

,Brand,Autogroup,Avg Price,Q1 2019,Q2 2019,Q3 2019,Q1 2020,Q2 2020,Q3 2020
0,Acura,Honda,40000,36385,37382,39046,28531,27458,39664
1,Alfa Romeo,Fiat Chrysler,50000,4286,4751,4310,3702,3735,5056
2,Audi,Audi,59017,48115,53325,57031,41371,34839,47896
3,Bentley,VW,211000,2385,2385,2385,2499,2499,2499
4,BMW,BMW,69000,73888,82551,75987,62152,50956,68439
5,Bugatti,VW,2400000,54943,62470,57339,47463,37625,49209
6,Buick,GM,33000,62254,71268,64535,54067,42201,54708
7,Cadillac,GM,54000,69564,80065,71730,60671,46777,60207
8,Chevrolet,GM,33000,76875,88862,78926,67274,51353,65707
9,Chrysler,Fiat Chrysler,32000,84185,97659,86122,73878,55929,71206
10,Dodge,Fiat Chrysler,29000,91496,106456,93317,80482,60505,76705
11,Ferrari,Ferrari,300000,98806,115254,100513,87086,65081,82205
12,Fiat,Fiat Chrysler,26000,106117,124051,107709,93690,69657,87704
13,Ford,Ford,32000,113427,132848,114905,100294,74233,93203
14,Genesis,Hyundai,49000,120738,141645,122100,106898,78809,98702
15,GMC,GM,35000,128048,150442,129296,113502,83385,104202
16,Honda,Honda,28000,135359,159240,136492,120106,87961,109701
17,Hyundai,Hyundai,30000,142669,168037,143687,126710,92537,115200
18,Infiniti,Nissan,45000,149980,176834,150883,133313,97113,120700
19,Jaguar,TaTa,52000,157290,185631,158079,139917,101689,126199
20,Jeep,Fiat Chrysler,30000,164601,194428,165274,146521,106265,131698
21,Kia,Kia,30000,171911,203226,172470,153125,110841,137198
22,Lamborghini,Audi,300000,179222,212023,179666,159729,115417,142697
23,Land Rover,TaTa,59000,186532,220820,186862,166333,119993,148196
24,Lexus,Toyota,56000,193843,229617,194057,172937,124569,153695
25,Lincoln,Ford,52000,201153,238414,201253,179541,129145,159195
26,Maserati,Fiat Chrysler,80000,208464,247212,208449,186145,133721,164694
27,Mazda,Mazda,25000,215774,256009,215644,192749,138297,170193
28,McLaren,McLaren,250000,223085,264806,222840,199352,142873,175693
29,Mercedes-Benz,Daimler,58000,230395,273603,230036,205956,147449,181192
30,Mini,BMW,28000,237706,282400,237231,212560,152025,186691
31,Mitsubishi,Mitsubishi,22000,245016,291198,244427,219164,156601,192191
32,Nissan,Nissan,30000,252327,299995,251623,225768,161177,197690
33,Porsche,Porsche,73000,259637,308792,258819,232372,165753,203189
34,Ram,Fiat Chrysler,34000,266948,317589,266014,238976,170329,208688
35,Subaru,Subaru,31000,274258,326386,273210,245580,174905,214188
36,Tesla,Tesla,60000,281569,335184,280406,252184,179481,219687
37,Toyota,Toyota,34000,288879,343981,287601,258788,184057,225186
38,Volkswagen,VW,30000,296190,352778,294797,265391,188633,230686
39,Volvo,Volvo,50000,303500,361575,301993,271995,193209,236185

In [4]:
#Autogroup and Avg Price was not needed for the analysis as the focus is solely on quarterly sales.
drop_col=['Autogroup', 'Avg Price']
car_data_df = car_data_df.drop(drop_col, axis=1)
car_data_df

            Brand  Q1 2019  Q2 2019  Q3 2019  Q1 2020  Q2 2020  Q3 2020
0           Acura    36385    37382    39046    28531    27458    39664
1      Alfa Romeo     4286     4751     4310     3702     3735     5056
2            Audi    48115    53325    57031    41371    34839    47896
3         Bentley     2385     2385     2385     2499     2499     2499
4             BMW    73888    82551    75987    62152    50956    68439
5         Bugatti    54943    62470    57339    47463    37625    49209
6           Buick    62254    71268    64535    54067    42201    54708
7        Cadillac    69564    80065    71730    60671    46777    60207
8       Chevrolet    76875    88862    78926    67274    51353    65707
9        Chrysler    84185    97659    86122    73878    55929    71206
10          Dodge    91496   106456    93317    80482    60505    76705
11        Ferrari    98806   115254   100513    87086    65081    82205
12           Fiat   106117   124051   107709    93690    69657    87704
13           Ford   113427   132848   114905   100294    74233    93203
14        Genesis   120738   141645   122100   106898    78809    98702
15            GMC   128048   150442   129296   113502    83385   104202
16          Honda   135359   159240   136492   120106    87961   109701
17        Hyundai   142669   168037   143687   126710    92537   115200
18       Infiniti   149980   176834   150883   133313    97113   120700
19         Jaguar   157290   185631   158079   139917   101689   126199
20           Jeep   164601   194428   165274   146521   106265   131698
21            Kia   171911   203226   172470   153125   110841   137198
22    Lamborghini   179222   212023   179666   159729   115417   142697
23     Land Rover   186532   220820   186862   166333   119993   148196
24          Lexus   193843   229617   194057   172937   124569   153695
25        Lincoln   201153   238414   201253   179541   129145   159195
26       Maserati   208464   247212   208449   186145   133721   164694
27          Mazda   215774   256009   215644   192749   138297   170193
28        McLaren   223085   264806   222840   199352   142873   175693
29  Mercedes-Benz   230395   273603   230036   205956   147449   181192
30           Mini   237706   282400   237231   212560   152025   186691
31     Mitsubishi   245016   291198   244427   219164   156601   192191
32         Nissan   252327   299995   251623   225768   161177   197690
33        Porsche   259637   308792   258819   232372   165753   203189
34            Ram   266948   317589   266014   238976   170329   208688
35         Subaru   274258   326386   273210   245580   174905   214188
36          Tesla   281569   335184   280406   252184   179481   219687
37         Toyota   288879   343981   287601   258788   184057   225186
38     Volkswagen   296190   352778   294797   265391   188633   230686
39          Volvo   303500   361575   301993   271995   193209   236185

In [5]:
car_data_df.dtypes

Brand      object
Q1 2019     int64
Q2 2019     int64
Q3 2019     int64
Q1 2020     int64
Q2 2020     int64
Q3 2020     int64
dtype: object