### COVID 19 data clean up

In [5]:
import matplotlib.pyplot as plt
import pandas as pd

# Study Data files
allState_path = "all-states-history.csv"
usCovid_path = "national-history.csv"
# Read the data and assign variable
allState_covid = pd.read_csv(allState_path)
usCovid_covid = pd.read_csv(usCovid_path)

In [6]:
# Display to Analyze and clean up dataframe for the US
usCovid_covid

,date,death,deathIncrease,inIcuCumulative,inIcuCurrently,hospitalizedIncrease,hospitalizedCurrently,hospitalizedCumulative,negative,negativeIncrease,onVentilatorCumulative,onVentilatorCurrently,positive,positiveIncrease,recovered,states,totalTestResults,totalTestResultsIncrease
0,2020-12-11,287058.0,2749,33237.0,21010.0,5444,108108.0,608998.0,168637806,1449905,3424.0,7489.0,15592946,232105,6135314.0,56,215110717,2094901
1,2020-12-10,284309.0,3115,32919.0,21023.0,4335,107276.0,603554.0,167187901,1339749,3394.0,7442.0,15360841,215669,5985047.0,56,213015816,1954686
2,2020-12-09,281194.0,3170,32720.0,20906.0,5424,106705.0,599219.0,165848152,1276606,3376.0,7624.0,15145172,211020,5891885.0,56,211061130,1822067
3,2020-12-08,278024.0,2697,32406.0,20483.0,4309,104623.0,593795.0,164571546,1192820,3359.0,7245.0,14934152,215335,5788509.0,56,209239063,1628432
4,2020-12-07,275327.0,1297,32120.0,20098.0,3614,102148.0,589486.0,163378726,1386381,3328.0,7073.0,14718817,180219,5714557.0,56,207610631,1772911
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,2020-01-26,NaN,0,NaN,NaN,0,NaN,NaN,0,0,NaN,NaN,0,0,NaN,2,2,0
321,2020-01-25,NaN,0,NaN,NaN,0,NaN,NaN,0,0,NaN,NaN,0,0,NaN,2,2,0
322,2020-01-24,NaN,0,NaN,NaN,0,NaN,NaN,0,0,NaN,NaN,0,0,NaN,2,2,0
323,2020-01-23,NaN,0,NaN,NaN,0,NaN,NaN,0,0,NaN,NaN,0,0,NaN,2,2,1
324,2020-01-22,NaN,0,NaN,NaN,0,NaN,NaN,0,0,NaN,NaN,0,0,NaN,2,1,0

In [9]:
# make a dataframe to store useful columns
#hotel_df = hotel_df.loc[:,['City', 'Country', 'Lat', 'Lng']]
usCovid_df = usCovid_covid.loc[:,['date', 'positive', 'positiveIncrease']]
usCovid_df

NameError: name 'hotel_df' is not defined

In [7]:
# Display to Analyze and clean up dataframe for all states
allState_covid

,date,state,dataQualityGrade,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
0,2020-12-11,AK,A,158.0,158.0,3,NaN,869.0,869.0,146.0,...,1123545.0,10185,NaN,NaN,NaN,NaN,NaN,0,1123545.0,10185
1,2020-12-11,AL,A,4086.0,3612.0,52,474.0,28146.0,28146.0,2111.0,...,1696439.0,12077,NaN,NaN,76958.0,NaN,1696439.0,12077,NaN,0
2,2020-12-11,AR,A+,2875.0,2588.0,55,287.0,9848.0,9848.0,1059.0,...,1828179.0,15181,NaN,21856.0,NaN,173190.0,NaN,0,1828179.0,15181
3,2020-12-11,AS,D,0.0,NaN,0,NaN,NaN,NaN,NaN,...,2140.0,0,NaN,NaN,NaN,NaN,NaN,0,2140.0,0
4,2020-12-11,AZ,A+,7245.0,6689.0,91,556.0,30302.0,30302.0,3482.0,...,4187860.0,51785,374754.0,NaN,NaN,NaN,2460821.0,23112,4187860.0,51785
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15908,2020-01-24,WA,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,...,0.0,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0
15909,2020-01-23,MA,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,...,2.0,1,NaN,NaN,NaN,NaN,NaN,0,2.0,1
15910,2020-01-23,WA,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,...,0.0,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0
15911,2020-01-22,MA,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,...,1.0,0,NaN,NaN,NaN,NaN,NaN,0,1.0,1
15912,2020-01-22,WA,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,...,0.0,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0

In [ ]:
# Historical points as markers
# Group by Date to create df for historical markers.
df1 = df.groupby(['Date']).sum()

dates = ["2020-03-27","2020-05-27"]   
def find_loc(df1, dates):
    marks = []
    for date in dates:
        marks.append(df1.index.get_loc(date))
    return marks