In [ ]:
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
#import numpy as np

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

# Study data files
interest = "Interest_rates.csv"

# Read the mouse data and the study results
interest_df = pd.read_csv(interest)

In [2]:
interest_df

,DATE,4wk BANK DISCOUNT,8 wk BANK DISCOUNT,13 wk BANK DISCOUNT,26 wk BANK DISCOUNT,52 wk BANK DISCOUNT
0,1/2/2020,1.50,1.52,1.51,1.53,1.52
1,1/3/2020,1.49,1.52,1.49,1.51,1.51
2,1/6/2020,1.51,1.51,1.53,1.52,1.50
3,1/7/2020,1.49,1.50,1.51,1.52,1.49
4,1/8/2020,1.47,1.50,1.51,1.52,1.51
...,...,...,...,...,...,...
482,12/24/2019,1.52,1.55,1.55,1.57,1.49
483,12/26/2019,1.56,1.57,1.55,1.57,1.49
484,12/27/2019,1.53,1.53,1.54,1.55,1.47
485,12/30/2019,1.48,1.50,1.54,1.56,1.53
486,12/31/2019,1.45,1.48,1.52,1.56,1.55

In [ ]:
# Historical points as markers
# Group by Date to create df for historical markers.
df1 = df.groupby(['Date']).sum()

dates = ["2020-03-27","2020-05-27"]   
def find_loc(df1, dates):
    marks = []
    for date in dates:
        marks.append(df1.index.get_loc(date))
    return marks

In [ ]:
minvalue = df.loc[df['Avg Price'].idxmin()]  # Min price for Y-axis
#print(minvalue)
maxvalue = df.loc[df['Avg Price'].idxmax()]  # Max price for Y-axis
#print(maxvalue)

# Line chart selection
df.plot.line(x='Date', y='Avg Price', legend = False, rot=60, title="Title",markevery=find_loc(SPI, dates), marker='s', markerfacecolor='red');

# Sets the y limits
plt.ylim(2000, 3800)

# Provides labels
plt.xlabel(" ")
plt.ylabel("S&P Index Price", fontsize=12)

# Format tick marks
plt.tick_params(axis='both', direction='out', length=6, width=2, labelcolor = 'black',colors='teal')

# Major grid lines
plt.grid(b=True, which='major', color='lightblue', alpha=0.6, linestyle='dashdot', lw=1.5)

# Minor grid lines
plt.minorticks_on()
plt.grid(b=True, which='minor', color='beige', alpha=0.8, ls='-', lw=1)

# Save the figure as .png
plt.savefig('Images/Title.png')

plt.show(block=True)